<!-- Begin Header -->
<div class="header">
    <div class="header_top">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="cart">
            <p>Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
                <ul class="dropdown">
                    <li>you have no items in your Shopping cart</li>
                </ul></div></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_bottom">
        <div class="menu">
            <ul>
                <!-- Thẻ li đầu tiên chỉ có class active nếu không có tham số loaiHangId -->
                <li class="@(string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["loaiHangId"]) ? "active" : "")">
                    <a href="@Url.Action("Index", "HangHoa")">NGUYEN THE LOAN AN</a>
                </li>

                <!-- Các thẻ li trong vòng lặp sẽ có class active nếu loaiHangId khớp -->
                @foreach (var loaiHang in Model)
                {
                var isActive = ViewContext.HttpContext.Request.Query["loaiHangId"] == loaiHang.MaLoai.ToString();
                <li class="@(isActive ? "active" : "")">
                    <a href="@Url.Action("Index", "HangHoa", new { loaiHangId = loaiHang.MaLoai })">@loaiHang.TenLoai</a>
                </li>
                }
                <div class="clear"></div>
            </ul>
        </div>


        <div class="search_box">
            <form>
                <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="button" value="">
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Header -->