@{
    ViewData["Title"] = "Index";
    Layout = "MyLayout";
}

@model IEnumerable<Learner>

<div class="container-fluid px-4">
    <div class="ms-2 me-2">
        <h1>Learner List</h1>
        @await Component.InvokeAsync("Major")
        <form class="d-none d-md-inline-block form-check-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Search Learner" />
                <button id="btnSearch" class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div id="content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày Nhập Học</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.pageNum; i++)
                {
                    <li class="page-item" page="@i"
                        @(ViewBag.mid != null ? "mid='ViewBag.mid'" : "")
                        @(ViewBag.keyword != null ? "keyword='ViewBag.keyword'" : "")>
                        <a class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
        <a asp-action="Create" class="btn btn-primary">Create New Student</a>
    </div>
</div>
@section Scripts {
    <script>
        // $("li").click(function () {
        //     var id = $(this).attr("id");
        //     $.ajax({
        //         url: "LearnerByMajorID",
        //         data: {mid: id},
        //         success: function (res) {
        //             $("div#content").html(res);
        //         }
        //     });
        // });

        // thêm script ajax cho click vào page-item, nút search
        $('body').on('click', 'li.page-item', function (e) {
            var page = $(this).attr("page");
            var mid = $(this).attr("mid");
            var keyword = $(this).attr("keyword");
            var data = { mid: mid, keyword: keyword, pageIndex: page };
            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $(".nav li").click(function (e) {
            var id = $(this).attr("id");
            var data = { mid: id };
            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $("button#btnSearch").click(function (e) {
            var keyword = $("#keyword").val();
            var data = { keyword: keyword };
            $.ajax({
                url: "LearnerFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}